### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Node JS ###
/node_modules/**

### Hardhat ###
cache
artifacts

### Custom ###
prod-secrets.json
contract-addresses.json
contract-addresses-**.json
secrets.json